/************************MENU*****************************/
.dropdown-menu ul {
  width: 200px;
  background-color: darkolivegreen;
}

.menu-item {
  position: relative;
}

.menu-item > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.menu-item > a:hover {
  background-color: #444;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 1;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu-item {
  position: relative;
}

.submenu-item > a {
  padding: 10px 20px;
  color: #fff;
  display: block;
  white-space: nowrap;
}

.submenu-item > a:hover {
  background-color: #555;
}

.nested-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  z-index: 2;
  border-left: 2px solid #fff;
}

.submenu-item:hover .nested-submenu {
  display: block;
}

.nested-submenu a {
  padding: 10px 20px;
  color: #fff;
  display: block;
  white-space: nowrap;
}

.nested-submenu a:hover {
  background-color: #666;
}

.submenu-item:nth-child(1) .nested-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  z-index: 2;
  border-left: 2px solid #fff;
}

.submenu-item:nth-child(1):hover .nested-submenu {
  display: block;
}

/**********************ITEM LIST**********************/
.grid_itemlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1px;
  place-items: center;
}

.grid_itemlist img {
  height: 200px;
  width: auto;
  display: flex;
  border-radius: 50%;
  background-color: white;
}

.grid_itemlist p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  transition: color 0.4s;
}

.grid_itemlist p:hover {
  color: var(--contrast);
}

.itemslist h1 {
  text-align: center;
  font-size: 4rem;
}

.itemslist h2 {
  text-align: center;
  font-size: 3rem;
  margin: 1em 0em 0.5em 0em;
}

.itemslist h3 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0em 0em 1em 0em;
  color: var(--primary_soft);
}

.area_description p {
  padding: 2em;
}
