html {
  --primary: #1e3a52;
  --primary_soft: #88a5be;
  --secondary: #709f80;
  --header: #2c754d;
  --background: #ffefda;
  --contrast: #ef796b;
}
/************************MENU*****************************/
.dropdown-menu ul {
  width: 200px;
  background-color: var(--header);
}

.menu-item {
  position: relative;
}

.menu-item > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--primary);
  font-size: 2cqw;
}

.menu-item > a:hover {
  background-color: var(--secondary);
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  z-index: 1;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu-item {
  position: relative;
}

.submenu-item > a {
  padding: 10px 20px;
  color: var(--primary);
  display: block;
  white-space: nowrap;
  font-size: 1cqw;
}

.submenu-item > a:hover {
  background-color: var(--secondary);
}

.nested-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  z-index: 2;
  border-left: 2px solid var(--primary_soft);
}

.submenu-item:hover .nested-submenu {
  display: block;
}

.nested-submenu a {
  padding: 10px 20px;
  color: var(--primary);
  display: block;
  white-space: nowrap;
}

.nested-submenu a:hover {
  background-color: var(--secondary);
}

.submenu-item:nth-child(1) .nested-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  z-index: 2;
  border-left: 2px solid var(--primary_soft);
}

.submenu-item:nth-child(1):hover .nested-submenu {
  display: block;
}

/**********************ITEM LIST**********************/

.grid_itemlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1px;
  place-items: center;
}

.grid_itemlist img {
  height: 200px;
  width: auto;
  display: flex;
  border-radius: 50%;
  background-color: white;
}

.grid_itemlist p {
  font-size: 1.5rem;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  transition: color 0.4s;
}

.grid_itemlist p:hover {
  color: var(--contrast);
}

.itemslist h1 {
  text-align: center;
  font-size: 4rem;
}

.itemslist h2 {
  text-align: center;
  font-size: 3rem;
  margin: 1em 0em 0.5em 0em;
}

.itemslist h3 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0em 0em 1em 0em;
  color: var(--primary_soft);
}

.area_description p {
  padding: 2em;
}

/*Mobil view*/
@media (max-width: 800px) {
  .grid_itemlist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1px;
    place-items: center;
  }

  .grid_itemlist img {
    height: 150px;
    width: auto;
    display: flex;
    border-radius: 50%;
    background-color: white;
  }

  .grid_itemlist p {
    font-size: 1.5rem;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    transition: color 0.4s;
  }

  .grid_itemlist p:hover {
    color: var(--contrast);
  }

  .itemslist h1 {
    text-align: center;
    font-size: 4rem;
  }

  .itemslist h2 {
    text-align: center;
    font-size: 3rem;
    margin: 1em 0em 0.5em 0em;
  }

  .itemslist h3 {
    text-align: center;
    font-size: 1.8rem;
    margin: 0em 0em 1em 0em;
    color: var(--primary_soft);
  }

  .area_description p {
    padding: 1.5em;
  }
}
/* ..................mobile view menu..................... */
@media (max-width: 750px) {
  .desktop-header {
    display: none;
  }
}
@media (min-width: 750px) {
  .mobile-header {
    display: none;
  }
}
.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.menu {
  position: absolute;
  top: 80px;
  right: -300px;
  width: 150px;
  background-color: #2c754d;
  transition: 0.2s;
}

.menu ul {
  list-style: none;
  padding: 20px;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.content {
  margin-top: 100px;
  padding: 20px;
  color: #ffffff;
}
.show-menu .menu {
  right: 0px;
}
.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #2c754d;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
