* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-family: "pt_serifregular", sans-serif;
  background-color: white;
}
img {
  width: 100%;
  height: auto;
  display: block;
  padding: 5px;
}

body,
html {
  height: 100%;
  margin: 0;
}

.vedvandetbanner {
  background-image: url(/img/Stranden-color-big.webp);
  width: auto;
  height: 100%;
}
.vedvandetbanner h1 {
  font-size: 5rem;
  padding: 200px;
  text-align: center;
  color: white;
  font-family: lato;
  font-weight: 300;
  filter: drop-shadow(4px 2px 5px #00000069);
}
.kategoriparent {
  display: grid;
  grid-template-columns: repeat(auto-fill, 575px);
  text-align: center;
  justify-content: center;
}
.strandengencontainer {
  background-color: red;
  margin: 5px;
  padding: 20px;
  height: 600px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.strandencontainer {
  background-color: blue;
  margin: 5px;
  padding: 20px;
  height: 600px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vandloebcontainer {
  background-color: green;
  margin: 5px;
  padding: 20px;
  height: 600px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.strandengencontainer img,
.strandencontainer img,
.vandloebcontainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 20px;
}
.strandengencontainer h4,
.strandencontainer h4,
.vandloebcontainer h4 {
  font-family: lato;
  font-weight: 300;
  font-size: 2rem;
}
.strandengencontainer a,
.strandencontainer a,
.vandloebcontainer a {
  font-family: lato;
  font-weight: 300;
  font-size: 2rem;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
}

.strandengencontainer a:hover {
  background-color: #ffffff;
  color: #ff0000;
}
.strandencontainer a:hover {
  background-color: #ffffff;
  color: blue;
}
.vandloebcontainer a:hover {
  background-color: #ffffff;
  color: green;
}

a {
  color: inherit;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.textbox {
  margin: 5px;
  margin-top: 10px;
  background-color: blueviolet;
  padding: 10px;
  color: white;
  height: 150px;
  text-align: center;
}
.textbox h2 {
  text-align: center;
  margin-top: 5px;
}
.textbox p {
  margin-top: 15px;
}
