html {
  --primary: #1e3a52;
  --primary_soft: #88a5be;
  --secondary: #709f80;
  --header: #2c754d;
  --background: #ffefda;
  --contrast: #ef796b;
}
.vedvandetbanner {
  background-image: url(/img/Stranden-color-big.webp);
  width: auto;
  height: 100%;
}
.vedvandetbanner h1 {
  color: white;
  font-size: 8cqw;
  grid-row: 1;
  grid-column: 1;
  z-index: 10;
  filter: drop-shadow(4px 2px 5px #00000069);
  text-align: center;
}
.vedvandetbanner h1 {
  padding: 200px 0; /* Adjust to your preference */
}
.strandengencontainer {
  background-color: var(--secondary);
  margin: 5px;
  padding: 20px;
  height: 600px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.strandencontainer {
  background-color: var(--secondary);
  margin: 5px;
  padding: 20px;
  height: 600px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vandloebcontainer {
  background-color: var(--secondary);
  margin: 5px;
  padding: 20px;
  height: 600px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.strandengencontainer:hover,
.strandencontainer:hover,
.vandloebcontainer:hover {
  background-color: var(--primary);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.strandengencontainer img,
.strandencontainer img,
.vandloebcontainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 20px;
}
.strandengencontainer h4,
.strandencontainer h4,
.vandloebcontainer h4 {
  font-family: lato;
  font-weight: 300;
  font-size: 2rem;
  color: white;
}
.strandengencontainer p,
.strandencontainer p,
.vandloebcontainer p {
  font-family: lato;
  font-weight: 300;
  font-size: 2rem;
  color: white;
}
.textbox {
  margin: 5px;
  margin-top: 10px;
  padding: 10px;
  color: white;
  text-align: center;
}
.textbox h2 {
  text-align: center;
  margin-top: 5px;
}
.textbox p {
  margin-top: 15px;
}

@media (min-width: 750px) {
  .kategoriparent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
  }
}
