html {
  --primary: #1e3a52;
  --primary_soft: #88a5be;
  --secondary: #709f80;
  --header: #2c754d;
  --background: #ffefda;
  --contrast: #ef796b;
}

.banner {
  background-color: var(--background);
}

.buttonscontainer {
  display: flex;
  justify-content: space-around;
  translate: 0% -20%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.cam {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: white;
}

.cam img {
  height: 100px;
  width: auto;
}

.item {
  height: 400px;
  width: 400px;
  border-radius: 50% !important;
  translate: 0% -40%;
  margin-bottom: 0;
  padding-bottom: 0;
  background-image: url(../img/Strandmalde.png);
  background-repeat: no-repeat;
}

.singleviewItem {
  border-radius: 50%;
}

#like {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-size: cover;
}

.like {
  background-image: url(../img/emptyheart.svg);
}

.liked {
  background-image: url(../img/fullheart.svg);
}

.raavareName {
  display: flex;
  justify-content: center;
  translate: 0% -500%;
}

/*** Tabs 
 - har taget udgangspunkt i denne tab fra codepen: https://codepen.io/mikestreety/pen/yVNNNm ***/

.tabcontainer {
  max-width: 800px;
  margin: auto;
  translate: 0% -30%;
}

.tabcontainer p,
h2,
strong,
li,
br {
  color: var(--background);
  font-family: "Lato", sans-serif;
}

.dataName {
  color: var(--primary);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  /* make sure it wraps*/
}

.tabs label {
  order: 1;
  /* Put the labels first */
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: var(--header);
  font-weight: bold;
  transition: background ease 0.2s;
  border-radius: 5px 5px 0px 0px;
}

.tabs .tab {
  order: 99;
  /* Put the tabs last */
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: var(--secondary);
  border-radius: 0px 5px 5px 5px;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: var(--secondary);
  border-radius: 5px 5px 0px 0px;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

/************* mobil **************/

@media (max-width: 800px) {
  /**** mobiltabs ****/
  /*
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin: auto;
    margin-top: 0.2rem;
  }
  /**** mobiltabs slut ****/

  .raavareName {
    translate: 0% -150%;
  }

  .cam {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }

  .item {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    translate: 0% -50%;
  }

  #like {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-size: cover;
  }
}
