@import url("https://fonts.googleapis.com/css2?family=Wellfleet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

html {
  --primary: #1e3a52;
  --primary_soft: #88a5be;
  --secondary: #709f80;
  --header: #2c754d;
  --background: #ffefda;
  --contrast: #ef796b;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--primary);
}
h1,
h2,
h3,
ul,
li,
a {
  font-family: "Wellfleet", serif;
  color: var(--primary);
}

body {
  background-color: var(--background);
}

/* øvrige header */

.logo {
  height: 100px;
  width: auto;
  padding: 0.5em;
  z-index: 1;
}

.logo img {
  height: 80px;
  width: auto;
  translate: 30% 13%;
}

.picleft img {
  max-width: 100px;
  height: auto;
  border-radius: 50% !important;
}

.picright_nav img {
  height: 120px;
  width: auto;
  position: absolute;
  top: 1em;
  right: 15px;
  background-color: var(--secondary);
  border: 1em solid;
  border-radius: 50%;
  border-color: var(--secondary);
  z-index: 1;
  translate: -40% 0%;
}

.header-content {
  height: 90px;
  display: flex;
  align-items: center;
  background-color: var(--background);
  z-index: 100;
}

@media (max-width: 800px) {
  .header-content {
    height: 70px;
  }

  .logo img {
    height: 60px;
    width: auto;
    translate: 15% 30%;
  }

  .picright_nav img {
    height: 80px;
    width: 80px;
    translate: 0% -10%;
  }
}
/* */

/* ******************img************************/
img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

/*******************Banner************************/
.banner {
  display: grid;
  place-items: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.banner h1:first-child {
  color: white;
  font-size: 10cqw;
  grid-row: 1;
  grid-column: 1;
  z-index: 10;
  filter: drop-shadow(4px 2px 5px #00000069);
}

.banner img:last-child {
  grid-row: 1;
  grid-column: 1;
}
