@import url("https://fonts.googleapis.com/css2?family=Wellfleet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

html {
  --primary: #2f5576;
  --primary_soft: #88a5be;
  --secondary: #709f80;
  --header: #246a59;
  --background: #ffefda;
  --contrast: #ef796b;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: var(--secondary);
}
h1,
h2,
h3,
ul,
li,
a {
  font-family: "Wellfleet", serif;
  color: var(--primary);
}

body {
  background-color: var(--background);
}

/* øvrige header */

.logo {
  max-width: 100px;
  margin-right: 20px;
}

.logo img {
  border-radius: 50% !important;
}
.picleft img {
  max-width: 100px;
  height: auto;
  border-radius: 50% !important;
}
.picright_nav img {
  max-width: 100px;
  position: absolute;
  top: 0%;
  right: 15px;
  border-radius: 50% !important;
}

.header-content {
  display: flex;
  align-items: center;
  background-color: darkolivegreen;
}
/* */

/* ******************img************************/
img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

/*******************Banner************************/
.banner {
  display: grid;
  place-items: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.banner h1:first-child {
  color: white;
  font-size: 15cqw;
  grid-row: 1;
  grid-column: 1;
  z-index: 10;
  filter: drop-shadow(4px 2px 5px #00000069);
}

.banner img:last-child {
  grid-row: 1;
  grid-column: 1;
}
